body{
    width: 100vw;
}

@font-face {
  font-family: 'Roboto-thin';
  src: url('Fuentes/static/Roboto-Thin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}



main{
    background-color: rgb(250, 247, 243);
}

#img-principal{
    background-image: url(/img/principal.jpg);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 40vw; max-height:700px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#img-principal-p{
    align-self: center;
    font-size: 5vw;
    font-family: 'Roboto-thin';
    color: white;
}

.servicios{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.servicios>#titulo-servicios{

    align-self: center;
    font-family: 'Roboto-thin';
    font-size: 4vw;
    color: rgb(217, 162, 153);
}

.servicios-tarjetas{
    display: flex;
    flex-direction: row;
    width: 1fr 1fr 1fr 1fr;
}

.tarjeta{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    border: solid 1px white;
    width: 100%;
    height: 40vw; max-height: 600px;
    overflow: hidden;
    
}

.descripcion{
    margin: 1vw;
}

.descripcion>h1{

    font-family: 'Roboto-thin';
    font-size: 3vw;
    color: rgb(240, 228, 211);
}

.descripcion>p{
    font-family: 'Roboto-thin';
    font-size: 2vw;
    color: rgb(240, 228, 211);
}

.descripcion>a{

    border: solid 1px rgb(240, 228, 211);
    border-radius: 18px;

    padding: 0.5vw;
    margin: 0.5vw;
    
    text-decoration: none;
    font-family: 'Roboto-thin';
    font-size: 1.5vw;
    color: rgb(240, 228, 211);
}

.pilates{
    background-image: url(/img/pilates.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.gym{
    background-image: url(/img/gym.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.estetica{
    background-image: url(/img/estetica.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.psi{
    background-image: url(/img/psicologia.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.nosotros{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: rgb(220, 197, 178);
}

.nosotros-img{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 5px;

    width: 100vw;
    height: 33vw;

    background-image: url(img/logo-principal.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    margin-top: 5vw;
}

.nosotros-descripcion{
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: 'Roboto-thin';
    font-size: 2vw;
    color: rgb(85, 50, 0);

    padding: 1vw;
    margin: 1vw;

}

